body{
    background-color:whitesmoke;
    font-family: 'Trebuchet MS';
    color:midnightblue;
    border: 2px solid midnightblue;
    padding: 15px;
    margin: 15px;
}

p{
    max-width:fit-content;
}

#backbutton{
    float:right;
    display: inline-block;
}